.header {
  height: $height48;
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: $color-white;
  .pd30 {
    max-width: 1260px;
    padding: 0 30px;
    .header-nav {
      padding: $pd0;
    }
  }
}
.navbar-toggler {
  border-color: transparent !important;
  padding: 0;
  font-size: 21px;
}
.logo-link {
  height: 100%;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  img {
    height: $height48;
  }
}
.nav-right {
  justify-content: flex-end;
  .nav-menu {
    align-items: center;
    margin-right: -50px;
    .nav-link {
      @include styleText($color-primary, $fs13, $fw600);
      height: $height48;
      line-height: $lh48;
      padding: $pd0;
      transition: all 0.3s ease;
      padding-right: 50px;
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        color: $color-secondary;
        bottom: 0;
      }
      &:hover {
        color: $color-secondary;
      }
    }
    .active {
      color: $color-secondary !important;
    }
  }
  .header-contact {
    display: flex;
    align-items: center;
    margin-left: 50px;
    .btn-phone {
      @include styleText($color-white, $fs13 + 0.5px, $fw500);
      @include styleBtn(
        $color-white,
        $color-secondary,
        1px solid $color-secondary,
        $br50,
        10.8px,
        19.5px
      );
      line-height: 1;
      margin-right: 6.75px;
      transition: all 0.5s ease;
      &:hover {
        @include btnHover($color-secondary, $color-white);
      }
      span {
        margin-left: 4px;
      }
    }
    .header-social {
      .social-link {
        @include styleIcon($color-primary, $fs13 + 0.586px);
        margin-left: 8.5px;
        transition: all 0.3s ease;
        &:hover {
          @include iconHover($color-secondary);
        }
      }
    }
  }
}

// Reponsive
@include responsive("extra-large") {
  .header-nav {
    flex-direction: row-reverse;
    justify-content: start;
  }
  .logo-link {
    margin-left: 10.5px;
  }
}
