*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  color: #191919;
  background-color: #fff;
  color: #191919;
  font-size: "15px";
  font-weight: "";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
label {
  margin-bottom: 0;
}

input,
select,
textarea,
form {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #191919;
}
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.container-xl {
  max-width: 1240px;
  padding: 0 20px;
  height: inherit;
}

.row {
  margin: 0 -10px;
}

.col {
  padding: 0 20px;
}

.header {
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: #fff;
}
.header .pd30 {
  max-width: 1260px;
  padding: 0 30px;
}
.header .pd30 .header-nav {
  padding: 0;
}

.navbar-toggler {
  border-color: transparent !important;
  padding: 0;
  font-size: 21px;
}

.logo-link {
  height: 100%;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.logo-link img {
  height: 48px;
}

.nav-right {
  justify-content: flex-end;
}
.nav-right .nav-menu {
  align-items: center;
  margin-right: -50px;
}
.nav-right .nav-menu .nav-link {
  color: #191919;
  font-size: 13px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0;
  transition: all 0.3s ease;
  padding-right: 50px;
}
.nav-right .nav-menu .nav-link::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  color: #b61984;
  bottom: 0;
}
.nav-right .nav-menu .nav-link:hover {
  color: #b61984;
}
.nav-right .nav-menu .active {
  color: #b61984 !important;
}
.nav-right .header-contact {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.nav-right .header-contact .btn-phone {
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  color: #fff;
  background-color: #b61984;
  border: 1px solid #b61984;
  border-radius: 50px;
  padding: 10.8px 19.5px;
  line-height: 1;
  margin-right: 6.75px;
  transition: all 0.5s ease;
}
.nav-right .header-contact .btn-phone:hover {
  color: #b61984;
  background-color: #fff;
}
.nav-right .header-contact .btn-phone span {
  margin-left: 4px;
}
.nav-right .header-contact .header-social .social-link {
  color: #191919;
  font-size: 13.586px;
  margin-left: 8.5px;
  transition: all 0.3s ease;
}
.nav-right .header-contact .header-social .social-link:hover {
  color: #b61984;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    flex-direction: row-reverse;
    justify-content: start;
  }
  .logo-link {
    margin-left: 10.5px;
  }
}
.our-carousel {
  background-image: url(../img/yellow_top_wave_01.png), url(../img/Violet_top_left_wave.png);
  background-size: contain;
  background-position: top, bottom;
  background-repeat: no-repeat;
}
.our-carousel .carousel-contents {
  align-items: center;
  padding: 60px 0;
  margin: 0 -20px;
}
.our-carousel .carousel-contents .carousel-text p {
  color: #b61984;
  font-size: 16.5px;
  font-weight: 600;
  margin-bottom: 8.25px;
}
.our-carousel .carousel-contents .carousel-text h1 {
  color: #191919;
  font-size: 57px;
  font-weight: 700;
}

.img-fluid {
  max-width: 580px;
}

@media screen and (max-width: 991px) {
  .our-carousel .carousel-contents {
    margin: 0 -10px;
    padding: 110px 0;
  }
  .our-carousel .carousel-contents .carousel-text h1 {
    font-size: 47.25px;
  }
}
.our-team {
  background-color: #dcd1f3;
  background-image: url("../img/Wave_White_bottom_right_shape_01.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.our-team .team-item {
  padding-top: 40px;
  text-align: center;
}
.our-team .team-item .team-card {
  border: 1px transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.our-team .team-item .team-card:hover {
  box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.15);
}
.our-team .team-item .team-card .team-img {
  overflow: hidden;
}
.our-team .team-item .team-card .team-img:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}
.our-team .team-item .team-card .team-img img {
  transition: 1s ease;
  transform: scale3d(1, 1, 1);
}
.our-team .team-item .team-card .card-body {
  padding: 20px 30px 35px 30px;
}
.our-team .team-item .team-card .card-body .mem-nationality {
  color: #b61984;
  font-size: 11.25px;
  font-weight: 600;
}
.our-team .team-item .team-card .card-body .mem-name {
  margin-bottom: 15px;
  color: #191919;
  font-size: 22.25px;
  font-weight: 700;
}
.our-team .team-item .team-card .card-body .mem-desc {
  color: #191919;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  visibility: visible;
  overflow: hidden;
}

.container-1000 {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.form-control:focus {
  outline: transparent !important;
  border-color: #fff !important;
}

.form-control {
  height: 38.4px;
}

.form-textarea {
  border-radius: 20px !important;
  align-items: stretch !important;
}
.form-textarea label i {
  padding-top: 1em;
}
.form-textarea textarea {
  padding: 1em !important;
}

.register-course {
  padding-top: 60px;
  background-image: url(../img/accent_bottom_wave_01.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.register-course .register-course-item {
  margin-top: 60px;
}
.register-course .register-course-item .register-right-contents {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 25px 50px 25px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.register-course .register-course-item .register-right-contents h2 {
  color: #191919;
  font-size: 37.5px;
  font-weight: 700;
}
.register-course .register-course-item .register-right-contents .form-register {
  padding-top: 50px;
}
.register-course .register-course-item .register-right-contents .form-register .form-item {
  margin-top: 15px;
}
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner {
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner label i {
  color: #b61984;
  padding-left: 16px;
}
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner input,
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner select,
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner textarea {
  font-size: 12px;
  border: transparent;
  padding: 0.4em;
}
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner input:focus .form-item-inner,
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner select:focus .form-item-inner,
.register-course .register-course-item .register-right-contents .form-register .form-item .form-item-inner textarea:focus .form-item-inner {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.register-course .register-course-item .register-right-contents .form-register .btn-register {
  color: #fff;
  background-color: #b61984;
  border: 1px solid #b61984;
  border-radius: 50px;
  padding: 9.5px 52.5px;
  margin-top: 45px;
  transition: all 0.5s ease;
}
.register-course .register-course-item .register-right-contents .form-register .btn-register:hover {
  color: #b61984;
  background-color: #fff;
}

.contact {
  background-image: url("../img/footer_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact .contact-item {
  padding-bottom: 80px;
}
.contact .contact-item .contact-title {
  color: #fff;
  font-size: 22.25px;
  font-weight: 700;
}
.contact .contact-item .contact-inner-list {
  margin-top: 30px;
}
.contact .contact-item .contact-inner-list .contact-inner-item {
  line-height: 1;
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
}
.contact .contact-item .contact-inner-list .contact-inner-item:not(:first-of-type) {
  margin-top: 15px;
}
.contact .contact-item .contact-inner-list .contact-inner-item a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.contact .contact-item .contact-inner-list .contact-inner-item a:not(:first-of-type) {
  margin-left: 15px;
}
.contact .contact-item .contact-inner-list .contact-inner-item a:hover {
  color: #191919;
}
.contact .contact-item .contact-inner-list .contact-inner-item .contact-link {
  padding: 12px 0;
}
.contact .contact-item .contact-inner-list .contact-inner-item span {
  padding-left: 10.8px;
}
.contact .contact-item .contact-inner-list input {
  text-align: center;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 46px;
  border-radius: 50px;
  background-color: transparent;
}
.contact .contact-item .contact-inner-list input:focus {
  outline: none !important;
  border-color: #444 !important;
}
.contact .contact-item .contact-inner-list input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.contact .contact-item .contact-inner-list .btn-subscibe {
  color: #191919;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 9.5px 52.5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 8px;
  transition: all 0.5s ease;
  width: 100%;
}
.contact .contact-item .contact-inner-list .btn-subscibe:hover {
  color: #fff;
  background-color: #b61984;
}

.contact-inner-list.between .contact-inner-item {
  padding-bottom: 12px;
}
.contact-inner-list.between .contact-inner-item .contact-link {
  font-size: 13.5px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.contact-inner-list.between .contact-inner-item .contact-link:hover {
  color: #fff !important;
  opacity: 0.8;
}

@media screen and (max-width: 575px) {
  .form-item-inline:last-of-type {
    margin-top: 15px;
  }
  .register-right-contents h2 {
    font-size: 30.5px;
  }
  input, select, textarea {
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */