// Color
$color-primary: #191919;
$color-secondary: #b61984;
$color-white: #fff;
$color: transparent;

// Font size
$fs11: 11px;
$fs13: 13px;
$fs15: 15px;
$fs16: 16px;
$fs24: 23px;
$fs78: 77px;

// Font weight
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;

// Line height
$lh80: 80px;

// Inherit
$height: 80px;

// Padding
$pd0: 0;
$pd50: 50px; 

// Margin
$mg50: 50px;

// Border radius
$br10: 10px;
$br50: 50px;

// Transition
// $transiton0-3: all .3s ease;
